./.DS_Store
./COMPUTABILITA/Esercitazione 06 Solved/.DS_Store
./COMPUTABILITA/Esercitazione 08 Solved/.DS_Store
./COMPUTABILITA/.DS_Store
./COMPUTABILITA/Esercitazione 05/.DS_Store
./COMPUTABILITA/Esercitazione 02 Solved/.DS_Store
./COMPUTABILITA/Esercitazione 07 Solved/.DS_Store
./COMPUTABILITA/Esercitazione 05 Solved/.DS_Store
./COMPUTABILITA/Esercitazione 01 Solved/.DS_Store
./COMPUTABILITA/Esercitazione 08/.DS_Store
./COMPUTABILITA/Esercitazione 03 Solved/.DS_Store
./LOGICA/.DS_Store
./LOGICA/Esercitazione 10/.DS_Store
./LOGICA/Esercitazione 10 Solved/.DS_Store
./APPROFONDIMENTI/.DS_Store
./APPROFONDIMENTI/Approfondimento 01/.DS_Store
